<div class="container">
    <h2>{{title_post}}</h2>

    <div class="message success" *ngIf="status === 'success'">
        El post se ha publicado correctamente;
    </div>

    <div *ngIf="status === 'failed'" class="message failed">
        El post no se ha podido publicar
    </div>

    <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">

        <p>
            <label for="title">Titulo del post</label>
            <input type="text" name="title" #title="ngModel" [(ngModel)]="post.title" required>
            <span class="form_error" *ngIf="title.touched && title.invalid">
                El titulo es obligatorio
            </span>
        </p>


        <p>

            <label for="content">Contenido</label>
            <textarea name="content" #content="ngModel" [(ngModel)]="post.content" required></textarea>
            <span class="form_error" *ngIf="content.touched && content.invalid">
                El contenido es obligatorio
            </span>

        </p>

        <p>
            <label for="category">Categoría</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="post.category" required>
            <span class="form_error" *ngIf="category.touched && category.invalid">
                La categoria es obligatoria
            </span>
        </p>

        
        <p>
            <label for="author">Autor</label>
            <input type="text" name="author" #author="ngModel" [(ngModel)]="post.author" required>
            <span class="form_error" *ngIf="author.invalid && (author.touched || author.dirty)">
                El autor es obligatorio
            </span>
        </p>

        <input type="submit" value="Publicar"  [disabled]="!postForm.form.valid">
       

    </form>

</div>
