.form__container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
}

.form__container-content{
    width: 65%;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #ccc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
    
    
}

.form__container-content textarea{
    border: none;
    width: 100%;
    padding: 100px;
    height: 100%;
    resize: none;
    outline: none;
    text-align: justify;
    font-size: 18px;
}

.form__container-content textarea::placeholder{
    font-size: 20px;
}



.form__container-sidebar{
    background-color: #fff;
    width: 25%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
    padding: 40px;
}

.form__container-sidebar-container-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0px;
}

.form__container-sidebar-container-input-item .select{
    border: none;
    outline: none;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    
}


.form__container-sidebar-container-input-item input[type="text"]{
    border: none;
    border-bottom: 1.8px solid #ccc;
    width: 100%;
    font-size: 20px;
    outline: none;

    transition: 300ms all ease-in;
}

.form__container-sidebar-container-input-item input[type="text"]:focus{
    border-color: #303569;
}

.form__container-sidebar input[type="submit"]{
    border: none;
    padding: 20px;
    border-radius: 6px;
    outline: none;
    transition: 300ms all ease;
    cursor: pointer;
}

.form__container-sidebar input[type="submit"]:hover{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
    



.form__container-sidebar-container-input-item .select option{
  border: none;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}



@media (max-width: 360px){
    .form__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form__container-content{
        width: 100%;
        margin-bottom: 25px;
    }

    .form__container-content textarea {
        padding: 20px;
    }

    .form__container-sidebar{
        width: 100%;
    }

    .form__container-sidebar-container-input-item{
        margin-bottom: 15px;
    }
}
