.posts-container{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    
}

.post{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 8px;
    background-color: honeydew;
    padding: 60px;
    box-shadow: 6px 7px 16px rgba(0,0,0,0.25);
}

.post-content{
    max-height: 140px;
    overflow: hidden;
}

.post-date{
    align-self: flex-end;
}