.post-container-title{
    
    text-align: center;
    background-color: #fff;
    padding: 15px;
    box-shadow: 6px 7px 16px rgba(0,0,0,0.25);
    border-radius: 8px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-family: 'Muli';

}

.posts-container{
    justify-content: center;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 450px);
    gap: 20px;
    padding: 20px;
    
}

.post{
    font-family: 'Muli';
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 8px;
    background-color: honeydew;
    padding: 60px;
    box-shadow: 6px 7px 16px rgba(0,0,0,0.25);
    transition: 150ms all ease;
    
}

.post:hover{
    box-shadow: 6px 7px 16px rgba(55, 58, 235, 0.25);
}

.post-content{
    max-height: 144px;
    overflow: hidden;
}

.post-date{
    align-self: flex-end;
}


button {
    padding: 16px;
    background-color: #303569;
    color: #fff;
    box-shadow: 6px 7px 16px rgba(55, 58, 235, 0.25);
    border: none;
    border-radius: 6px;
    transition: 300ms all ease;
}

button:hover{
    background-color: #000;
    color: #fff;
}


@media (max-width: 375px){
    .posts-container{
        grid-template-columns: 100% ;
    }   

    .post{
        grid-column: 1/1;
    }
}

@media (max-width: 756px){
    .posts-container{
        grid-template-columns: 100%;
    }
    .post{
        grid-column: 1/1;
    }
}

    /* @media (max-width: 1440px){  
        .posts-container{
        grid-template-columns: repeat(2, 465px);
        }

        .post-container-title{
            width: 92%;
        }
    } */

@media (max-width: 1750px){
    .post-container-title{
        width: 92%;
    }
}  
  
  

