<div class="post-container-title">
    <h2>Posts recientes</h2>
</div>
<div class="posts-container">
    <div class="post" *ngFor="let post of posts">
        <h2>{{post.title}}</h2>     
        <p class="post-category">{{post.category}}</p>
        <p class="post-content">{{post.content}}... Leer más</p>
        <p class="post-author">Autor: {{post.author}}</p>
        <p class="post-date">{{post.date}}</p>
        <a [routerLink]="['/post', post._id]">
            Leer más
        </a>
    </div>
</div>