.main_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

    height: 500px;
    margin: 0 auto;
    padding: 40px;
    
}

.main_logo img{
    width: 400px;
    height: 395px;
    border-radius: 8px;
    margin-right: 10px;
}


@media (max-width: 365px){
    .main_logo img{
        display: none;
    }

}