<div class="login_container" id="login-container">

    <div class="login_container-form">
        <h2>Iniciar Sesion!</h2>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="login_container-form-input">
                <input name="userName" #userName="ngModel" [(ngModel)]="user.userName" type="text"
                    placeholder="Nombre de usuario" required>
            </div>

            <div class="login_container-form-input">
                <input name="password" #password="ngModel" [(ngModel)]="user.password" type="password"
                    placeholder="Contraseña" required>
            </div>

            <div class="login_container-form-register">
                <p>¿Aun no tienes cuenta? <br> <span class="register-link"> <a [routerLink]="['/register']">Registrate!</a></span></p>
            </div>

            <div class="login_container-form-input-submit">
                <input type="submit" value="Iniciar sesion" [disabled]="!userName.valid">
            </div>
        </form>
    </div>
</div>