.post-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    
}

.post-container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-basis: 70%;
    padding: 30px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    border-radius: 6px;

}

.post-container-content{
    padding: 40px;
    flex-basis: 70%;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    border-radius: 6px;
}