<footer class="footer">

    <p><a [routerLink]="['/']">Contactanos</a> </p>
    <p><a [routerLink]="['/']">Terminos y condiciones</a> </p>
    <p><a [routerLink]="['/']">Made by @Betoml5</a> </p>
    <!-- <div class="footer__item"><img src="../../../assets/static/git.png" alt="GitHub"></div>
    <div class="footer__item"><img src="../../../assets/static/instagram.png" alt="Instagram"></div>
    <div class="footer__item"><img src="../../../assets/static/linkedin.png" alt="Linkedin"></div> -->
</footer>
