
.menu{
    cursor: pointer;
    display: none;
    transition: 300ms all ease;
  }

.menu_colapsed{
    display: none;
}

.menu_colapsed_active{
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;  
    text-align: right;

    border-radius: 0px 0px 8px 8px;
}

.menu_colapsed_active a{
    margin-bottom: 10px;
    color: #000;
}

.menuAnimation{
    animation-name:menuAnimation;
    animation-duration:1s;
}

@keyframes menuAnimation{
    from{
        transform:rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
}
  

@media (max-width: 768px){
    
    .header .nav a {
        display: none;
    }

    .header .nav .menu{
        display: block;
    }

    .header .nav{
        justify-content: flex-end;
    }

  }