<div class="carreras__container">

    <div class="carreras__container-grid">


        <div class="carreas_container-item">
            <img src="../../../assets/static/programacion.jpg" alt="Programacion">
        </div>
        <div class="carreas_container-item">
            <img src="../../../assets/static/recursos-humanos.jpg" alt="">
        </div>
        <div class="carreas_container-item">
            <img src="../../../assets/static/mecanica.jpg" alt="">
        </div>
        <div class="carreas_container-item">
            <img src="../../../assets/static/meca.jpg" alt="">
        </div>
        <div class="carreas_container-item">
            <img src="../../../assets/static/contabilidad.jpg" alt="">
        </div>
        <div class="carreas_container-item">
            <img src="../../../assets/static/electricidad.jpg" alt="">
        </div>


    </div>

</div>